@import 'nib' // CSS3 extensions for Stylus: http://visionmedia.github.io/nib/

@import url('http://fonts.googleapis.com/css?family=Montserrat:700');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700');

// variables!

slide_width = 100%
slide_height = 100%
slide_odd_colour = darken(#1F978D, 40%);
slide_even_colour = darken(#5CBD9C, 50%);
slide_font_colour = #eee
slide_font_family = "Open Sans", sans-serif
slide_font_heading = "Montserrat", Impact, sans-serif

slide_transition_length = .6s
slide_transition_easing = ease

bullet_transition_length = .3s
bullet_transition_easing = ease
bullet_transition_translate_x = 16px

// base

*
  box-sizing: border-box
  margin: 0
  padding: 0

@media print
  *
    -webkit-print-color-adjust: exact

@page
  size: landscape
  margin: 0

// bespoke.js layout styles

article
  transition: transform slide_transition_length slide_transition_easing
  display: none
  &.bespoke-parent
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    font-family: slide_font_family
    color: slide_font_colour
  &.bespoke-zoomedout
    transform: scale(0.1);
    @media print
      overflow: visible
      position: static
  perspective: 1200px

.bespoke-slide
  top: 0
  left: 0
  visibility: hidden
  overflow: hidden
  backface-visibility: hidden
  transform: translate3d(-999em, 0, 0)
  transform-style: preserve-3d
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  width: slide_width
  height: slide_height
  position: absolute
  background: slide_odd_colour
  padding: 40px
  border-radius: 0
  &:nth-of-type(even)
    background: slide_even_colour;
  @media print
    height: 743px // seems to correspond with an A4, landscape page height
    width: 100%
    page-break-before: always
    position: static
    margin: 0

.bespoke-after
  @media print
    transform: translateX(0) rotateY(0)
  z-index: 2


.bespoke-before
  visibility: hidden


.bespoke-before-1,
.bespoke-dir-prev .bespoke-after-1
  visibility: visible
  animation: scaleDown .7s slide_transition_easing both
  z-index: 1

.bespoke-dir-prev .bespoke-before-1
  animation: none
  visibility: hidden

.bespoke-inactive
  pointer-events: none
  @media print
    opacity 1

.bespoke-active
  animation: moveFromRight slide_transition_length slide_transition_easing both
  visibility: visible
  z-index: 3

.bespoke-dir-prev .bespoke-active
  animation: moveFromLeft slide_transition_length slide_transition_easing both

.bespoke-active,
.bespoke-dir-prev .bespoke-active,
.bespoke-before-1,
.bespoke-dir-prev .bespoke-after-1
  transform: translate3d(0, 0, 0)

// bespoke-bullet styles

.bespoke-bullet
  transition: all bullet_transition_length bullet_transition_easing

.bespoke-bullet-inactive
  opacity: 0
  li&
    transform: translateX(bullet_transition_translate_x)
  @media print
    opacity: 1

.bespoke-bullet-active
  opacity: 1

@keyframes moveFromLeft
  from
    transform: translateX(-100%);

@keyframes moveFromRight
  from
    transform: translateX(100%);

@keyframes scaleDown
  to
    opacity: 0
    transform: translateZ(-500px)

// bespoke-state styles

.circle
  border-radius: 50%

.flex-foo
  display: flex
  flex-flow: row wrap
  justify-content: center;
  > span
    display: inline-block
    margin-right: 0.3ch;

.flex-mania
  > span
    for num, idx in (2 6 7 1 3 5 4)
      &:nth-child({num})
        order: idx
        if num == 1
          text-transform: lowercase
        if num == 2
          text-transform: capitalize

.button
  display: inline-block
  text-decoration: none
  color: #fff
  font-weight: bold
  background-color: #538fbe
  padding: 20px 70px
  font-size: 24px
  border: 1px solid #2d6898
  background-image: linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%)
  border-radius: 5px
  text-shadow: 0px -1px 0px rgba(0,0,0,.5)
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
  transition: all .2s ease-in-out
  transform: rotateX(20deg)
  &:hover
    background-image: linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%)
  &:active
    box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5)
    background-image: linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%)
    transform: translate(0, 4px)


// prism styles

code
  padding: 26px !important
  max-height: 80%;
  overflow: auto;

// content styles

body
  font-family: helvetica, arial, sans-serif
  font-size: 18px
  background: #333333

h1, h2, h3
  font-family: slide_font_heading
  color: slide_font_colour

h1
  font-size: 72px
  line-height: 82px
  letter-spacing: -2px
  margin-bottom: 16px

h2
  font-size: 42px
  letter-spacing: -1px
  margin-bottom: 8px

h3
  font-size: 24px
  font-weight: normal
  margin-bottom: 24px

hr
  visibility: hidden
  height: 20px

ul
  list-style: none

li
  margin-bottom: 12px

p
  margin: 0 100px 12px
  line-height: 22px

a
  color: #343838
